.container {}

.loginBox {
    padding: 1rem;
}

.formBox {
    margin-top: 1rem;
    font-size: small;
    cursor: pointer;
    color: red;
}

.registerDescription {
    font-size: 25rem;
}

.submitBtn {
    padding: 0.5rem 1rem;
    background-color: rgb(153, 255, 127);
    border-radius: 2.5px;
    margin-right: 0.5rem;
    border: none;
}